:root {
  --systemRed: #ff3b30;
  --systemRed-vibrant: #f53126;
  --systemRed-default_IC: #d70015;
  --systemRed-vibrant_IC: #c20618;
  --systemOrange: #ff9500;
  --systemOrange-vibrant: #f58b00;
  --systemOrange-default_IC: #c93400;
  --systemOrange-vibrant_IC: #ad3a00;
  --systemYellow: #ffcc00;
  --systemYellow-vibrant: #f5c200;
  --systemYellow-default_IC: #a05a00;
  --systemYellow-vibrant_IC: #925100;
  --systemGreen: #28cd41;
  --systemGreen-vibrant: #1ec337;
  --systemGreen-default_IC: #007d1b;
  --systemGreen-vibrant_IC: #007018;
  --systemMint: #00c7be;
  --systemMint-vibrant: #00bdb4;
  --systemMint-default_IC: #0c817b;
  --systemMint-vibrant_IC: #0b7570;
  --systemTeal: #59adc4;
  --systemTeal-vibrant: #2ea7bd;
  --systemTeal-default_IC: #008299;
  --systemTeal-vibrant_IC: #00778c;
  --systemCyan: #55bef0;
  --systemCyan-vibrant: #41afdc;
  --systemCyan-default_IC: #0071a4;
  --systemCyan-vibrant_IC: #006796;
  --systemBlue: #007aff;
  --systemBlue-vibrant: #0070f5;
  --systemBlue-default_IC: #0040dd;
  --systemBlue-vibrant_IC: #0040dd;
  --systemBlue-rollover: #0045b7;
  --systemBlue-pressed: #005cd7;
  --systemBlue-deepPressed: #0045b7;
  --systemBlue-disabled: rgba(0, 122, 255, 0.35);
  --systemIndigo: #5856d6;
  --systemIndigo-vibrant: #5452cc;
  --systemIndigo-default_IC: #3634a3;
  --systemIndigo-vibrant_IC: #3634a3;
  --systemPurple: #af52de;
  --systemPurple-vibrant: #9f4bc9;
  --systemPurple-default_IC: #ad44ab;
  --systemPurple-vibrant_IC: #ad44ab;
  --systemPink: #ff2d55;
  --systemPink-vibrant: #f5234b;
  --systemPink-default_IC: #d30f45;
  --systemPink-vibrant_IC: #c11032;
  --systemBrown: #a2845e;
  --systemBrown-vibrant: #987a54;
  --systemBrown-default_IC: #7f6545;
  --systemBrown-vibrant_IC: #775d3b;
  --systemGray: #8e8e93;
  --systemGray-vibrant: #848489;
  --systemGray-default_IC: #69696e;
  --systemGray-vibrant_IC: #616165;
}
